* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;

  .emojis {
    display: flex;
    justify-content: space-evenly;
    padding: 10% 10%;
    font-size: 80px;
    width: 100%;
  }

  p {
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
  }

  a {
    text-decoration: none;
  }

  .puzzleImage {
    margin-top: 20px;
  }

  button {
    cursor: pointer;
  }

  audio {
    margin-top: 20px;
  }

  .text-puzzle {
    margin-top: 20px;
  }

  .emoji-btn {
    background-color: #ffffff00;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
  }

  .password-btn {
    margin-top: 20px;
  }
}
